<div class="row mt-md-5">
    <div class="container bg-dark rounded-3 text-light col-md-5 col-10 p-4 p-md-5 mt-4 mb-4">
    <h2 class="display-6">Aplicacion para escuelas</h2>
    <div>
        <p>Pagina web diseñada por Carlos D. CM para contactos llamar 123 456 789 , se hacen todo tipo de paginas</p>
        <a href="#" class="btn btn-outline-light">Ir a ver</a>
    </div>
</div>
<div class="container bg-dark rounded-3 text-light col-md-5 p-2 col-10 p-4 p-md-5 mt-4 mb-4">
    <h2 class="display-6">Desarrollo frontend y backend</h2>
    <div>
        <p>Pagina web diseñada por Carlos D. CM para contactos llamar 123 456 789 , se hacen todo tipo de paginas</p>
        <a href="#" class="btn btn-outline-light">Ir a ver</a>
    </div>
</div>
</div>