<div class="container pt-4">
    <div class=" col-md-6 mx-auto">
    <div class="card ">
        <div class="card-header">
            <div class="display-6">Registrar colegio</div>
        </div>
        <div class="card-body">
            <form action="/registernew" method="post" >
                <div class="form-group mb-2">
                    <input type="text" name="name" class="form-control" placeholder="Nombre del colegio" > 
                </div>
                <div class="form-group mb-2">
                    <input type="text" name="address" class="form-control" placeholder="Direccion del colegio" > 
                </div>
            
                <div class="form-group mb-2 text-center mx-auto">
                    <button class="btn btn-success  mt-3 col-4">Registrar colegio</button>
                </div>
            </form>

        </div>
    </div>
</div>
</div>