<nav class="navbar navbar-expand-lg navbar-light bg-light p-md-3">
    <div class="container-fluid">
        <a  class="navbar-brand">Organize your Schools</a>
         <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a href="/" class="nav-link active">Home</a>
            </li>
            <li class="nav-item">
                <a href="/about" class="nav-link">About us</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Show options
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="/courses">Show all courses</a></li>
                    <li><a class="dropdown-item" href="/schools">Show all schools</a></li>
                    <li><a class="dropdown-item" href="/registernew">Register a new school</a></li>
                </ul>
            </li>
        </ul>
        <form class="d-lg-flex d-none ">
        {{#if user}}
        <a class="btn  btn-outline-success me-2 " style="width: 6rem;" href="/logout" >Log Out</a>
        {{/if}}
        {{#unless user}}
        <a class="btn  btn-outline-success me-2 " style="width: 6rem;" href="/signin" >Log In</a>
        <a class="btn btn-outline-secondary me-2" style="width: 6rem;" href="/signup" >Sign Up</a>
        {{/unless}}
        </form>
    </div>
    </div>
</nav>