<div class="container pt-4">
    <div class=" col-md-6 mx-auto">
    <div class="card ">
        <div class="card-header">
            <div class="display-6">Agregar curso</div>
        </div>
        <div class="card-body">
            <form action="/teachers/add_courses/{{id}}" method="post" >
                <div class="form-group mb-2">
                    <input type="text" name="name" class="form-control" placeholder="Nombre del curso" required value="{{name}}"> 
                </div>
                <div class="form-group mb-2">
                    <input type="text" name="code" class="form-control" placeholder="Codigo del curso" required value="{{code}}"> 
                </div>
               
                <div class="form-group mb-2 text-center mx-auto">
                    <button class="btn btn-success  mt-3 col-4">Registrar curso</button>
                </div>
            </form>

        </div>
    </div>
</div>
</div>