
<div class="container bg-dark rounded-3 text-light col-md-5 p-2 col-10 p-4 p-md-5 mt-4 mb-4">
    <h2 class="display-6">Bienvenido {{name}} estas en {{school_name}}</h2>
    <div>
        <p>Pagina web diseñada por Carlos D. CM, por favor ingresa a este link para visitar el sitio</p>
        <a href="/signin" class="btn btn-outline-light">Ir a ver</a>
    </div>
</div>